<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<!-- Content -->
<div id="home">
    <%- include('partials/hero.ejs') %>
</div>

<div id="about">
    <%- include('partials/about.ejs') %>
</div>

<div id="projects">
    <%- include('partials/projects.ejs') %>
</div>

<div id="contact">
    <%- include('partials/contact.ejs') %>
</div>
<!-- Content -->

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>
